# Python cache files
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/
*.swp
.DS_Store

# Database files
*.db
app/database_manager/*.db

# Log files
logs/
*.logs

# Environment variables
.env
.env.*
